h1 
{
    color: #FF4500;
    text-decoration: underline;  
    text-align: center;
    

}

h2
{
	color: #FF8C00;
    text-decoration: underline;
}






body {
	background-image: url(https://www.photoway.com/images/fonds-ecran/TDM96_1047-ayers-rock-1280x0800.jpg);
	background-repeat: no-repeat; /* Le fond ne sera pas répété */
	background-size: cover;
	width : 100%;
	height: 100%;

}
ul
{
	color:white;


}

li {
	color:white;
}


a:hover
{
	color: white;

}






